body {
  background-color: black;
  color: rgb(220, 220, 255);
}
.clock-app {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}
.todo-app {
  position: absolute;
  bottom: 0;
  margin-left: 30px;
  margin-bottom: 30px;
}
.weather-app {
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}
.greeting-app {
  /*Change width and height*/
  position: absolute;
  width: 10%;
  height: 20%;
  background: #063;
  bottom: 0px;
  right: 25%;
  left: 50%;
  margin-left: -150px;
}
